.browse-faces {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.pictures-table {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.picture-row {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.picture-row img {
    border: 2px solid #333; /* Add a border */
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }